spring:
  datasource:
    url: jdbc:h2:mem:cvbuilder;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    driverClassName: org.h2.Driver
    username: sa
    password: ''
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    show-sql: false
  h2:
    console:
      enabled: true

server:
  port: 8081

jwt:
  secret: ${JWT_SECRET:}
  expirationMinutes: 120
